body {background-color: black ;}
.note{
    width: 7.14%;
    box-sizing:border-box;
    display: block;
    float: left;
    margin: 0;
  }
  .wrapper{
    display: inline-block;
    position: relative;
    width:70%;
  }
  .Cs_note{
    position: absolute;
    top: 0;
    left: 6.14%;
    margin:0;
  }
.C_note{

    color:black;

    padding-top:258px;
    padding-bottom:20px;
    padding-right:5px;
    padding-left:5px;
    z-index: 51;
    background-color: white;
    cursor: pointer;
    left: 366px;
    top: 143px;
    width: 5%;
}
.Cs_note{

    color:white;
    overflow: visible;
    padding-bottom:0px;
    padding-right:4px;
    padding-left:4px;
    z-index: 53;
    background-color: black;
    cursor: pointer;
    bottom: 0px;
    width: 3%;

}

.D_note{

    color:black;

    padding-top:258px;
    padding-bottom:20px;
    padding-right:5px;
    padding-left:5px;
    z-index: 51;
    background-color: white;
    cursor: pointer;
    left: 366px;
    top: 143px;
    width: 5%;
}
.E_note{

    color:black;

    padding-top:258px;
    padding-bottom:20px;
    padding-right:5px;
    padding-left:5px;
    z-index: 51;
    background-color: white;
    cursor: pointer;
    left: 366px;
    top: 143px;
    width: 5%;
}
.F_note{

    color:black;

    padding-top:258px;
    padding-bottom:20px;
    padding-right:5px;
    padding-left:5px;
    z-index: 51;
    background-color: white;
    cursor: pointer;
    left: 366px;
    top: 143px;
    width: 5%;
}
.G_note{

    color:black;

    padding-top:258px;
    padding-bottom:20px;
    padding-right:5px;
    padding-left:5px;
    z-index: 51;
    background-color: white;
    cursor: pointer;
    left: 366px;
    top: 143px;
    width: 5%;
}
.A_note{

    color:black;

    padding-top:258px;
    padding-bottom:20px;
    padding-right:5px;
    padding-left:5px;
    z-index: 51;
    background-color: white;
    cursor: pointer;
    left: 366px;
    top: 143px;
    width: 5%;
    
}
.H_note{

    color:black;

    padding-top:258px;
    padding-bottom:20px;
    padding-right:5px;
    padding-left:5px;
    z-index: 51;
    background-color: white;
    cursor: pointer;
    left: 366px;
    top: 143px;
    width: 5%;
}
.center {
    text-align: center;}
