body {background-color: black ;}

.C_note{

    color:black;
    margin-top: 100px;
    padding-top:258px;
    padding-bottom:20px;
    padding-right:5px;
    padding-left:5px;
    overflow: hidden;
    z-index: 50;
    background-color: white;
    cursor: pointer;
    left: 366px;
    top: 143px;
    width: 5%;

}
.Cs_note{

    color:white;
    margin-top: 100px;
    padding-top:180px;
    padding-bottom:20px;
    padding-right:4px;
    padding-left:4px;
    z-index: 52;
    background-color: black;
    cursor: pointer;
    left: 362px;
    top: 143px;
    width: 2%;

}

.D_note{

    color:black;

    padding-top:258px;
    padding-bottom:20px;
    padding-right:5px;
    padding-left:5px;
    z-index: 51;
    background-color: white;
    cursor: pointer;
    left: 366px;
    top: 143px;
    width: 5%;
}
.E_note{

    color:black;

    padding-top:258px;
    padding-bottom:20px;
    padding-right:5px;
    padding-left:5px;
    z-index: 51;
    background-color: white;
    cursor: pointer;
    left: 366px;
    top: 143px;
    width: 5%;
}
.F_note{

    color:black;

    padding-top:258px;
    padding-bottom:20px;
    padding-right:5px;
    padding-left:5px;
    z-index: 51;
    background-color: white;
    cursor: pointer;
    left: 366px;
    top: 143px;
    width: 5%;
}
.G_note{

    color:black;

    padding-top:258px;
    padding-bottom:20px;
    padding-right:5px;
    padding-left:5px;
    z-index: 51;
    background-color: white;
    cursor: pointer;
    left: 366px;
    top: 143px;
    width: 5%;
}
.A_note{

    color:black;

    padding-top:258px;
    padding-bottom:20px;
    padding-right:5px;
    padding-left:5px;
    z-index: 51;
    background-color: white;
    cursor: pointer;
    left: 366px;
    top: 143px;
    width: 5%;
    
}
.H_note{

    color:black;

    padding-top:258px;
    padding-bottom:20px;
    padding-right:5px;
    padding-left:5px;
    z-index: 51;
    background-color: white;
    cursor: pointer;
    left: 366px;
    top: 143px;
    width: 5%;
}
.center {
    text-align: center;}
